@import url('./resetting.css');

/* LOADER */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000000;
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #4E75FF;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.loader-container {
  margin: 0 auto;
  display: none;
  border-right: 4px solid transparent;
  box-sizing: border-box;
}

/* FORM */

.search{
margin-top: 36px;
margin-bottom: 32px;
align-items: center;
display: flex;
justify-content: center;
gap: 8px;
}
.input{
width: 272px;
height: 40px;
outline: transparent;
border-radius: 4px;
border: 1px solid #808080;
font-family: 'Montserrat', sans-serif;
background: #ffffff;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 4%;
padding: 8px 16px;
}
.input:hover{
border: 1px solid #000000;
}
.input:focus{
border: 1px solid #4E75FF;
}
.button{
width: 91px;
height: 40px;
border-radius: 8px;
border: none;
padding: 8px, 16px, 8px, 16px;
background-color: #4E75FF;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 4%;
cursor: pointer;
}
.button:hover{
background-color: #6C8CFF;
}
.button:focus{
background-color: #6C8CFF;
}

  /* GALLERY */

  :root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  .gallery {
    display: flex;
    width: 1128px;
    padding-bottom: 24px;
    margin: 48px auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  
  .gallery-link {
    display: block;
    width: 360px;
  
    flex-shrink: 0;
  }
  
  .gallery-image {
    width: 100%;
    height: 200px;
  }

  .hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

/* JS CLASSES */

.info-list {
  display: flex;
  width: 100%;
}

.info-item {
  flex-basis: calc(100% / 4);
}

.info-title {
  text-align: center;
  font-weight: 500;
  font-size: 13px;
}

.info-value {
  text-align: center;
  font-size: 13px;
}
